html, body {
    margin: 0;
    /* padding-left: 50px;
    padding-right: 50px; */
    height: 100%;
    overflow: auto;
 }

body {
    
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
 
}

header {
    /* padding: 0 20px 0 20px; */
    padding:0;
    background: #ffffff;
    width: 100%;
    /* height: 80px;
    flex: none; */
}

.name {
    float: left;
	width: 200px;
	background-color: #4aaaa5;
	padding: 10px;
	text-align: center;
	position: relative;
	left: 10%;
}

nav {
    float: right;
	display: block;
	position: relative;
    right: 5%;
 
 	padding: 10px;
}

li {
	display: inline;
	font-size: 20px;
	margin: 0 5px;
	color: #777;
}

li a {
	text-decoration: none;
	color: #777;
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 16px;
}

h1 {
	color: white;
	font-size: 24px;
	font-weight: bold;
	font-family: "Georgia", Times, Times New Roman, serif;

}



footer {
    width: 100%;
    padding:20px 0 20px 0;
    height: 30px;
    text-align: center;
    background: #666666;
    clear:both;
    border-top: 4px solid #4aaaa5;
    /* flex:none; */
}

.container {
    /* float: left; 
    position: relative; */ 
    width: 100%;
    padding:20px 0 20px 0;
    flex: 1;
    border-top: 2px #ccc solid;
    background-image: url("../images/concrete_seamless.png");
    overflow-y: scroll;
    
}

 section {
    width: 920px;
    background: #ffffff;
    border-color: #dddddd;
    margin: 0 auto 0 auto;
    padding: 20px;
    overflow: auto;
  

 }

 h2 {
     
	font-size: 24px;
	color: #4aaaa5;
	font-weight: bold;
	font-family: "Georgia", Times, Times New Roman, serif;
	padding: 0px 25px 25px 0;
	border-bottom: 2px solid #ddd;
}

#bio-image {

	float: left;
    display: block;
    padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
    margin-bottom: 5px;
}


p {
    margin-top: 0px;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
	padding: 0px 10px 0px 0px;
	color: #777;
}

/* input, textarea {
	padding: 5px;
	margin: 5px;
} */

textarea {
    border: 1px solid #ddd;
    margin:0;
    
}

.label {
	color: #777;
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	padding: 0px;
	line-height: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input {
    width: 550px;
    margin: 0;
}

.button {
	width: 100px;
	height: 35px;
	background-color: #4aaaa5;
	color: white;
	font-size: 15px;
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    border: none;
    margin-top: 10px;
}

.image {
    float: left;
    padding: 15px ;
    border: 4px solid red;
  
}


img {
	height: 175px;
	width: 225px;
}

h3 {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	padding: 5px 10px;
	position: relative;
	bottom: 60px;
}